@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Sans+Pro:wght@200&display=swap');

.change_settings{
    position: absolute;
    background-color: #bbbda4;
    height: 75%;
    width: 50%;
    margin: auto;
    top : 50px;
    bottom: 50px;
    left : 50px;
    right : 50px;
    display: none;
}
.revert{
    font-family: 'EB Garamond', serif;
    font-family: 'Source Sans Pro', sans-serif;
    border : none;
    background-color: #d3cbcb;
    height : 50px;
    width : 100px;
    font-size: 25px;
    border-radius: 5px;
    padding-top : 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 40%;
    margin-top: 20px;
}
.input_length, .input_nums_words{
    height : 50px;
    width : 100px;
}